<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--开启SQL调试 -->
        <settings>
            <setting name="logImpl" value="STDOUT_LOGGING" />
        </settings>
     <!---->

    <typeAliases>

    </typeAliases>

    <mappers>
        <mapper resource="com/dtask/center/bindingModule/mapping/bindingDao.xml"/>
        <mapper resource="com/dtask/center/syncModule/mapping/SyncUserMapping.xml"/>
        <mapper resource="com/dtask/center/remoteTaskModule/mapping/remoteSubTaskMapping.xml"/>
        <mapper resource="com/dtask/center/remoteTaskModule/mapping/remoteTaskMapping.xml"/>
    </mappers>

</configuration>